page-repetitiondetails {
  table {
    width: 35%;
    margin-left: 20%;
  }
  table, th, td {
    text-align: center;
    //border: 1px solid black;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
  .title {
    text-align: center;
  }
  .absent {
    //width: 30%  ;
    margin-left: 15%;
  }

}
