page-login {

}

ion-header {
  padding-bottom: 25%;
}

.login-container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.login-fail {
  color: #FF0000;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

//ion-datetime {
//  position: relative;
//}
