page-usersettings {

}

.aboveButtons {
  display: flex;
}

.firstlastname-container {
  display: block;
}

.firstname-container {
  display: block;
}

.lastname-container {
  display: block;
}

.changeName-button {
  margin-top: 2%;
  margin-bottom: 20%;
}

.img-container img {
  width: 100%;
}

.container {
  width: 40%;
  margin: 0 auto;
}
