page-usersettings {

}

.aboveButtons {
  display: flex;
}

.firstlastname-container {
  display: block;
}

.firstname-container {
  display: block;
}

.lastname-container {
  display: block;
}

.changeName-button {
  margin-top: 2%;
  margin-bottom: 20%;
}
