<ion-header>
  <ion-navbar>
    <ion-title>{{'register.pagetitle' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="credentialsForm">

    <ion-item>
      <ion-label color="primary">{{'register.firstnameLabel' | translate}}</ion-label>
      <ion-input placeholder="{{'register.firstname' | translate}}" [formControl]="credentialsForm.controls['firstName']"
                  type="name" [(ngModel)]="model.firstName" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">{{'register.lastnameLabel' | translate}}</ion-label>
      <ion-input placeholder="{{'register.lastname' | translate}}" [formControl]="credentialsForm.controls['lastName']"
                  type="name" [(ngModel)]="model.lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">{{'register.emailLabel' | translate}}</ion-label>
      <ion-input placeholder="{{'register.email' | translate}}" [formControl]="credentialsForm.controls['email']"
                  type="email" [(ngModel)]="model.email"></ion-input>
    </ion-item>
    <div *ngIf="!credentialsForm.controls.email.valid && (credentialsForm.controls.email.dirty || submitted)" class="validator-error">
      {{'register.emailError' | translate}}
    </div>

    <ion-item>
      <ion-label color="primary">{{'register.birthdate' | translate}}</ion-label>
      <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY" [formControl]="credentialsForm.controls['birthday']"
                     [(ngModel)]="birthday" placeholder="01-01-2000"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label color="primary">{{'register.password' | translate}}</ion-label>
      <ion-input type="password" [(ngModel)]="model.password" [formControl]="credentialsForm.controls['password']"
                  placeholder="**********"></ion-input>
    </ion-item>
    <div *ngIf="credentialsForm.controls.password.hasError('pattern') &&
    (credentialsForm.controls.password.dirty || submitted)" class="validator-error">
      {{'register.passwordError' | translate}}
    </div>

    <ion-item>
      <ion-label color="primary">{{'register.confirmpass' | translate}}</ion-label>
      <ion-input type="password" [formControl]="credentialsForm.controls['confirmPassword']"
                  [(ngModel)]="model.confirmPassword" placeholder="**********"></ion-input>
    </ion-item>

    <div class="register-button">
      <button ion-button type="submit" (click)="register()" [disabled]="!credentialsForm.valid">{{'register.register' | translate}}</button>
    </div>
  </form>
</ion-content>
