c-repetition {
  .card-header{
    background-color: map-get($colors, primary);
    color: #fff;
  }
  .card-content {
    padding: 0px 16px;
    max-height: 0px;
  }

  .centerThis {
    display: block;
    //margi-left: 0%;
    border-top:solid grey;
  }

}
