page-lessondetails {

  table {
    width: 35%;
    margin-left: 23%;
    background-color: #f4f4fe;
    padding: 20px;
    border-radius: 25px;
  }
  table, th, td {
    text-align: center;
    //border: 1px solid black;

  }
  th, td {
    padding: 5px;
    text-align: left;
  }
  .title {
    text-align: center;
  }

}
