page-lessondetails {

/*  ion-content{
    justify-content: center;
    display: flex;
    align-content: center;
    align-self: center;
    align-items: center;
  }*/

  table {
    width: 100%;
    //margin-left: 23%;
    justify-content: center;
    display: flex;
    background-color: #f4f4fe;
    padding: 20px;
    border-radius: 25px;
  }
  table, th, td {
    text-align: center;
    //border: 1px solid black;

  }
  th, td {
    padding: 5px;
    text-align: left;
  }
  .title {
    text-align: center;
  }

  .centerThis {
    display: grid;
    justify-content: center;
  }

}
